body {
    font: 12px Arial;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 490px;
    margin: 0 auto;
}

.product {
    border: 2px solid transparent;
    display: inline-block;
    flex: 1 1;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.product p {
    font-size: 14px;
    margin: 10px 0 20px;
}

.product .info {
    display: none;
    font-size: 11px;
    line-height: 1.3;
    color: #636363;
}

.price {
    font-size: 14px;
    display: inline-block;
    line-height: 30px;
}

.price strong {
    font-size: 18px;
}

.star {
    font-size: 16px;
    color: #3a3a3a;
    padding: 0 7px;
    background: #fff;
}

.rating {
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 10px 0 5px;
}

.rating::after {
    content: '';
    width: 100%;
    border-bottom: solid 1px #f0f0f0;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}

.product:hover {
    border-color:#eb5c3e;
    background: #fff;
}

.product:hover .btn {
    background-color:#eb5c3e;
}

.product:hover .star {
    color:#eb5c3e;
}

.product:hover .info {
    display: block;
    background-color: white;
    position: absolute;
    padding: 10px;
    left: -2px;
    right: -2px;
    border: 2px solid #eb5c3e;
    border-top: none;
    z-index: 1;
}

.btn {
    font-size: 12px;
    padding: 7px;
    border: none;
    background: #3a3a3a;
    color: #fff;
    cursor: pointer;
    float: right;
}

@media screen and (max-width: 768px) {
    .container {
        display: block;
        width: calc(100% - 20px);
    }

    .product {
        display: block;
    }

    .product img {
        display: flex;
        margin: 0 auto;
    }
}